@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --purple-primary: #9b4de0;
        --text-purple: #c273ed;
    }

    * {
        font-family: 'Inter', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    html ::-webkit-scrollbar {
        width: 4px;
    }

    html ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #ffffff4d;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    }

    html ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset #fff;
        border-radius: 4px;
    }
}

@layer components {

    .purple-hover {
        color: var(--text-purple);
    }

    .text-purple-hover {
        color: var(--text-purple);
        text-decoration: underline;
    }

    .button-player {
        background-color: #ffffff1d;
        border-radius: 50%;
    }

    .play-pause-hover {
        border-color: var(--text-purple);
        color: var(--text-purple);
    }

    .thumbnailM-hover {
        transform: scale(1.1) translateZ(0);
    }

    .transition-img {
        transition: transform .7s;
    }

    .progressbar:hover .thumb {
        height: 5px;
    }

    .active-song {
        background-color: #ffffff26;
    }

}

.slick-list,
.slick-track {
    display: flex !important;
    justify-content: space-between;
    max-height: 100% !important;
}

.slick-slide {
    margin: 0 10px !important;
}